# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Java files
[*.java]
indent_style = space
indent_size = 4

# C++ files
[*.cpp]
[*.hpp]
indent_style = tab
tab_width = 4

# C files
[*.c]
[*.h]
indent_style = tab
tab_width = 4

# XML files
[*.xml]
indent_style = space
indent_size = 2
